body {
  font-family: sans-serif;
  padding: 20px;
}

input[type=text] {
  width:100%;
  margin-bottom:10px;
  font-size:20px;
    padding: 8px;
    border: 1px solid #999;
    background: white;
    margin-top: 4px;    
    box-sizing: border-box;  
}
.dialog { 
      background: #f8f8f8;
    border: 2px solid #b5b5b5;
    width: 620px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: inset 0 0 4px #d0d0d0;
}
.color-row { display:flex; gap:12px; align-items:center; margin-top:8px; }
.preview {
  width: 16cm;
  height: 7.8cm;
  border: 1px solid black;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:60px;
  margin-bottom:15px;
  text-transform: uppercase;
  font-weight:bold;
}




@media print {


  @page {
    size: A4 portrait;
    margin: 0;              /* supprime les marges qui créent une 2e page */
  }

  body {
    margin: 0;
    padding: 0;
    overflow: hidden;       /* évite tout débordement = pas de 2e page */
  }

  #printArea {
    width: 100 %;
    height: 100 vh;          /* prend exactement 1 page */
    display: flex;
    align-items: center;    /* centre verticalement */
    justify-content: center;/* centre horizontalement */
    flex-direction: column;
    page-break-inside: avoid; /* interdit les coupures */
  }

  #printArea .etiquette {
    page-break-inside: avoid;
  }



  /* Masquer toute la page */
  body * {
    visibility: hidden !important;
  }

  /* Montrer uniquement l'aire d'impression */
  #printArea, #printArea * {
    visibility: visible !important;
  }

  /* Placer l’aire d’impression très haut */
  #printArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100 %;
  }

  /* IMPORTANT → Autorise les couleurs d’impression */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  
  /* Garantir display:flex pendant l'impression */
  #printArea .preview {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

}
