body {
  font-family: sans-serif;
  padding: 20px;
}

input[type=text] {
  width:100%;
  margin-bottom:10px;
  font-size:20px;
    padding: 8px;
    border: 1px solid #999;
    background: white;
    margin-top: 4px;    
    box-sizing: border-box;  
}
.dialog { 
      background: #f8f8f8;
    border: 2px solid #b5b5b5;
    width: 620px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: inset 0 0 4px #d0d0d0;
}
.color-row { display:flex; gap:12px; align-items:center; margin-top:8px; }
.preview {
  width: 16cm;
  height: 7.8cm;
  border: 1px solid black;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:60px;
  margin-bottom:15px;
  text-transform: uppercase;
  font-weight:bold;
}


/* zone d'impression invisible par défaut */
#printArea {
  display: none;
}

/* impression : ne montrer que #printArea */
@media print {
  /* cacher tout le reste */
  body * { visibility: hidden !important; }

  /* rendre visible uniquement l'aire d'impression */
  #printArea, #printArea * {
    visibility: visible !important;
  }

  /* positionner l'aire d'impression en haut à gauche de la page */
  #printArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;    /* A4 width */
    height: 297mm;   /* A4 height */
    margin: 0;
    box-sizing: border-box;
    padding: 5mm;    /* petit padding si tu veux */
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* style pour chaque étiquette */
  #printArea .label {
    width: 16cm;
    height: 7.8cm;
    margin: 1cm auto;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    page-break-inside: avoid !important;
    break-inside: avoid !important;
    -webkit-column-break-inside: avoid !important;
  }

  /* éviter d'avoir une 2ème page */
  @page { size: A4 portrait; margin: 0mm; }
 
    

    body {
        margin: 0;
        padding: 0;
    }

    .etiquette {
        page-break-inside: avoid;
        width: 100%;
        height: auto;
    }

    #zoneEtiquettes {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}
/* 📱 Version mobile */
@media (max-width: 768px) {
 
  .dialog { 
    width: 100%;
  }
}
